<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Captura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Captura.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Captura.Properties.Settings>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EncodeAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseStereo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MUITheme" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="MUIThemeColor" serializeAs="String">
                <value>#FF0050EF</value>
            </setting>
        </Captura.Properties.Settings>
    </userSettings>
</configuration>