version: 2.0.{build}

image: Visual Studio 2017

configuration:
- Debug
- Release

environment:
  # Will be updated Before Build
  AppVersion: 1.0.0

install:
  # Update Submodules
  - git submodule update --init

  # Restore packages
  - nuget restore src/Captura.sln

cache:
  # preserve "packages" directory but reset if packages.config is modified
  - src\packages -> **\packages.config

before_build:
  # Retrieve version from AssemblyInfo.cs
  - ps: >-
      $content = Get-Content "src\Captura\Properties\AssemblyInfo.cs";
      $match = [regex]::Match($content, 'AssemblyVersion\(\"(.+?)\"\)');

      if ($match.Success)
      {
        $env:AppVersion = $match.Groups[1].Value;
        Update-AppveyorBuild -Version "$env:AppVersion.$env:APPVEYOR_BUILD_NUMBER";
      }

build:
  parallel: true
  project: src\Captura.sln
  verbosity: minimal

after_build:
  # Create output and temp folder
  - md Output
  - md temp

  # Copy licenses
  - xcopy /s licenses Output\licenses\

  # Copy build output
  - ps: >-
      if ($env:configuration -eq 'Release')
      {
        Get-ChildItem -Path 'src/Captura/bin/Release/*' -Include *.exe*, *.dll | Copy-Item -Destination 'Output/'
      }
      elseif ($env:configuration -eq 'Debug')
      {
        Get-ChildItem -Path 'src/Captura/bin/Debug/*' -Include *.exe*, *.dll, *.pdb, *.xml | Copy-Item -Destination 'Output/'
      }

  # Download BASS and BassMix
  - ps: Invoke-WebRequest "http://www.un4seen.com/files/bass24.zip" -OutFile "temp/bass.zip"
  - ps: Invoke-WebRequest "http://www.un4seen.com/files/bassmix24.zip" -OutFile "temp/bassmix.zip"

  # Extract BASS and BassMix
  - ps: Expand-Archive "temp/bass.zip" "temp/bass"
  - ps: Expand-Archive "temp/bassmix.zip" "temp/bassmix"

  # Copy BASS and BassMix
  - ps: Copy-Item 'temp/bass/bass.dll', 'temp/bassmix/bassmix.dll' 'Output/'

  # Pack Deploy zip
  - ps: Compress-Archive 'Output\*' "Output\Captura-$env:configuration.zip"

  # Chocolatey
  - ps: >-
      if ($env:configuration -eq 'Release' -and $env:appveyor_repo_tag -eq 'true')
      {
        $installScript = "choco/tools/chocolateyinstall.ps1";

        # Modify install script links
        Set-Content $installScript ('$tag = "' + $env:APPVEYOR_REPO_TAG_NAME + '"; ' + (Get-Content $installScript));

        choco pack choco/captura.nuspec --version $env:AppVersion;
        Push-AppVeyorArtifact "captura.$env:AppVersion.nupkg" -DeploymentName Chocolatey;
      }

artifacts:
  - path: Output/Captura-$(configuration).zip
    name: Captura.zip

deploy:
  provider: GitHub
  tag: $(APPVEYOR_REPO_TAG_NAME)
  release: Captura v$(AppVersion)
  description: "[Changelog](https://mathewsachin.github.io/Captura/Changelog)"
  auth_token:
    secure: 0wnIqpTY1N2oq6WQS9O5Mow0LA43Qo5ZnvuRLrpA/Lah675ffhF16SGcpa7B+Iou
  artifact: Captura.zip
  draft: true
  on:
    configuration: Release
    appveyor_repo_tag: true