* @MathewSachin

# Languages
Resources.ar.resx @mohi-othman
Resources.da.resx @Martin4ndersen
Resources.de.resx @flxn
Resources.es.resx @KNTRO @Jhovany200
Resources.fi.resx @Mknsri
Resources.fr.resx @baptistecolin
Resources.he.resx @yotam180
Resources.id.resx @TheFaR8
Resources.is.resx @gautsson
Resources.it.resx @simocosimo
Resources.nl.resx @demichiel
Resources.pl.resx @j4nw
Resources.pt.resx @igorruckert
Resources.ru.resx @rvgulyaev
Resources.sv.resx @Arrowfan
Resources.uk.resx @Marusyk