<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MouseKeyHook" version="5.4.0" targetFramework="net45" />
  <package id="NAudio" version="1.7.3" targetFramework="net45" />
  <package id="Screna" version="0.3.1" targetFramework="net45" />
  <package id="Screna.Lame" version="0.2.2" targetFramework="net45" />
  <package id="Screna.MouseKeyHook" version="0.2.0" targetFramework="net45" />
  <package id="Screna.NAudio" version="0.2.0" targetFramework="net45" />
  <package id="Screna.SharpAvi" version="0.2.0" targetFramework="net45" />
  <package id="SharpAvi" version="2.1.0" targetFramework="net45" />
</packages>