<footer>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Ad001 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4251360406988977"
            data-ad-slot="7875153049"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <br><br>

        <hr>
        Copyright &copy; {{ site.time | date: '%Y' }} <a href="https://github.com/MathewSachin">Mathew Sachin</a>.
    </div>
</footer>

<style>
footer {
    padding-top: 30px;
    padding-bottom: 20px;
}
</style>