<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
        <div class="d-flex justify-content-between">
            <a href="{{ site.baseurl }}/" class="navbar-brand">Captura</a>
            <button class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>        
    
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/FAQ">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/Downloads">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/ScreenShots">ScreenShots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.links.gitter }}">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.links.github }}">GitHub</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" style="cursor: pointer" data-toggle="dropdown">
                        How to
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/howto/screenshot-methods.html">Methods for taking ScreenShots</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/howto/mixing-audio.html">Mixing Microphone Input and Speaker Output</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" style="cursor: pointer" data-toggle="dropdown">
                        More
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/Changelog">Changelog</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/CI">Continuous Integration</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/Contributing">Contributing</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/Donate">Donate</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/Getting-Started">Getting Started</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/Hotkeys">Hotkeys</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/License">Licenses</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/RoadMap">RoadMap</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/Translation">Translation</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>