<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedBass" version="2.0.0" targetFramework="net461" />
  <package id="ManagedBass.Mix" version="2.0.0" targetFramework="net461" />
  <package id="MouseKeyHook" version="5.4.0" targetFramework="net45" />
  <package id="NAudio" version="1.8.0" targetFramework="net45" />
  <package id="SharpAvi" version="2.1.0" targetFramework="net45" />
</packages>