---
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}/styles/page.css">

<div class="jumbotron bg-teal">
    <div class="container">
        <h2>{{ page.title }}</h2>
        <br>
        <div class="hidden-sm hidden-xs"><a href="{{site.links.github}}/blob/gh-pages/{{page.path}}">Edit this page</a></div>
    </div>
</div>

<div class="container page-container">
    <div class="col-md-10 page-content">
        <p>{{ content }}</p>
    </div>
    <div class="col-md-2">
        {% include adsense.html %}
    </div>
</div>