body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

.bg-teal { 
    background-color: #1abc9c;
    color: #ffffff;
}

.bg-teal a {
    color: #3D3D3D;
}

.btn-action {
    border: 1px groove rgba(0, 0, 0, 0.5);
    padding: 14px 28px;
    margin: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-action .fa {
    margin-right: 5px;
}

.btn-action:hover {
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration-line: none;
}

h2 {
    margin-top: 40px;
    margin-bottom: 15px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

h4 {
    margin-top: 15px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.gitter-chat-embed {
    background-color: #333333;
}

.gitter-chat-embed iframe {
    padding-top: 50px;
}

.features div {
    padding-bottom: 15px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}